/* CSS Document */

@font-face {
	font-family: 'Frutiger UltraBlack';
	src: url('fonts/FrutigerLTStd-UltraBlack.otf');
	}

body{
    margin:0;
    padding:0;
    background:#fff url(images/bodybga.gif) repeat-x top;
    font:13px Century Gothic, Helvetica, Arial, sans-serif;
	color: #000000;
}

body a, a:visited , a:active{
    font:13px Century Gothic, Helvetica, Arial, sans-serif;
	color: #4b116f;
	font-weight:normal;
	text-decoration:underline;
}

body a:hover{
	text-decoration:underline;
	}

.homebody{
    margin:0;
    padding:0;
    background:url(images/home-bg.jpg) repeat-x top;
}

#maincontainer{
    width:100%;
    float:left;
    background:url(images/bodybg.gif) repeat-x top;
}

#mainwraper{
    width:960px;
    margin:0 auto;
}


#wraper{
    width:960px;
    float:left;
}

/*----Top---*/

#topmain{
    width:944px;
	float:left;
	padding:22px 0px 0px 11px;
	height:320px;
	}
	
#topmain_home{
    width:944px;
	float:left;
	padding:22px 0px 0px 11px;
	height:370px
	}
	
#topmain_hometop{
    width:944px;
	float:left;
	}				
	
#logo{
    width:191px;
margin:0 0 0 45px;
	float:left;
	}
#topright{
    width:701px;
	float:right;
	}

#information{
	position:relative;
	left:-54px;
    text-align:right;
	font-family: "Helvetica Light", "Arial", sans-serif;
	font-size: 16px;
	color: #ffffff;
	}

#information a{
	font-family: "Helvetica Light", "Arial", sans-serif;
	font-size: 16px;
	color: #c0d87a;
	font-weight: underline;
	}
	
#topmenu{
    width:695px;
	float:left;
	height:31px;
	}
	
#topmenu_left{
    width:371px;
	float:left;
	height:10px;
	/*background-color:#232323;*/
	margin:-36px 0px 0px 0px;
	padding:0;
	}
	
#topmenu_left01{
    /*width:271px;*/
	float:left;
	height:10px;
	/*background-color:#232323;*/
	color:#D1D1D1;
	}	
	
#topmenu_left02{
   /* width:71px;*/
	float:left;
	height:10px;
	/*background-color:#232323;*/
	margin:21px 0px 0px 0px;
	}		
	
#topmenu_right{
    /*width:317px;*/
	float:right;
	padding:0;
	margin:0;
	}	
	
#topmenu_right li{
    list-style-image:none;
	list-style-type:none;
	float:left;
	margin:0;
	padding:0;
	}		
	
/*-----navigation-----	*/

#navigation{
   float: right;
    margin-right: 50px;
    position: relative;
    top: 45px;
   }

   #nav{
	margin-left:-20px;
   }
   
#navigation li {
     list-style-image:none;
	 list-style-type:none;
	 float:left;
	 font-weight:normal;
   }
   
   #nav ul li{
       background-image: url(images/nav_bg.gif);
	   background-repeat:repeat-x;
	   width: auto;
	   height:50px;
	   font-size:12px;
	}

	#nav ul li a{ padding:10px 8px; margin:0 0 14px 0; }
	#nav ul li:hover{ background-image:url(images/docimagingmo.gif); background-repeat:no-repeat; background-position:center top;}

/*-----END navigatio-----	*/
	
/*----END Top---*/	
	
/*---content---*/
	
#maincontant{
   width:100%;
   background-color:#ffffff;
   float:left;
   }
	
#content_main{
	margin-left:auto;
	margin-right:auto;
	width:830px;
	clear:both;
	}
   
#content{
   width:545px;
   padding-right:20px;
   float:left;
   display:inline;
   color: #000000;
   font: 14px Century Gothic, Helvetica, Arial;
   }
   
#content h1{
	font-family: 'Frutiger UltraBlack';
	font-size: 31px;
	font-weight: bold;
	line-height: 100%;
	color: #3a3a3c;
	}
	
#content h2{
	font-family: 'Frutiger UltraBlack';
	font-size: 26px;
	font-weight: bold;
	line-height: 100%;
	color: #3a3a3c;
	}
	
#content h3{
	font-family: 'Frutiger UltraBlack';
	font-size: 21px;
	font-weight: bold;
	line-height: 100%;
	color: #3a3a3c;
	}
	
#content h4{
	font-family: 'Frutiger UltraBlack';
	font-size: 16px;
	font-weight: bold;
	line-height: 100%;
	color: #3a3a3c;
	}
	
#content_sideBar{
	height:auto;
	width:258px;
	float:right;
	display:inline;
}
   
.content_left_text{
   width:572px;
   float:left;
   padding:5px 0px 12px 10px;
   background:url(images/botbg.gif) repeat-x bottom;
   }	
	
.content_left_text h1{
   font:normal 15px Georgia, "Times New Roman", Times, serif;
   color:#7a1ab9;
   text-decoration:none;
   margin:0;
   padding:0;
   }	
.content_left_text h2{
   font:bold 15px Georgia, "Times New Roman", Times, serif;
   color:#3b3b3b;
   text-decoration:none;
   margin:0;
   padding:0;
   }		
	
#content_left_content{
   width:572px;
   float:left;
   padding:18px 0px 12px 10px;
   margin:0;
     }		
#content_left_content h1{
   font:normal 15px Georgia, "Times New Roman", Times, serif;
   color:#7a1ab9;
   text-decoration:none;
   margin:0;
   padding:0;
   height:25px;
   }	
#content_left_content h2{
   font:normal 15px Georgia, "Times New Roman", Times, serif;
   color:#3b3b3b;
   text-decoration:none;
   margin:0;
   padding:0;
   }	
#content_right_home{
   width:575px;
   float:left;
   }  
#content_right_heading{
   width:570px;
   background:url(images/botbg.gif) repeat-x bottom;
   height:34px;   
   float:left;
   }   
.content_right_text{
   width:570px;
   padding:13px 0px 10px 0px;
   float:left;
   }  
#content_right_content{
   width:570px;
   background:url(images/botbg.gif) repeat-x bottom;
   padding:18px 0px 0px 0px;
     
   float:left;
   } 
.content_right_content_left{
   width:490px;
   float:left;
   padding:0px 0px 0px 20px;
   } 
.content_right_content_left h1{
   font:bold 13px Verdana, Arial, Helvetica, sans-serif;
   color:#9840cf;
   text-decoration:none;
   margin:0;
   padding:0;
   } 
.content_right_content_left h2{
   font:normal 13px Verdana, Arial, Helvetica, sans-serif;
   color:#606060;
   text-decoration:none;
   margin:0;
   padding:0;
   }       
.content_right_content_right{
   width:50px;
   float:left;
   }
.content_right_textbg{
   width:570px;
   padding:13px 0px 10px 0px;
   background-color:#dedede;
   float:left;
   }  
       
#content_right{
   width:342px;
   float:left;
   }	
#content_right_top{
   width:273px;
   float:left;
   background-color:#828282;
   padding:11px 0px 0px 67px;
   height:32px;
   }	
   
#searchWrapper{
	width:250px;
	padding-top:10px;
	padding-bottom:10px;
    }
	
#searchWrapper input{
	width:170px;
	height:18px;
	padding: 5px 5px;
	float:left;
	font: 10px 'lucida sans', 'trebuchet MS', 'Tahoma';
	background: #e5e5e5;
	box-shadow: 0 0 3px #d8d8d8 inset;
	border: 1px solid #cbcbcb;
	}
	
#searchWrapper input:placeholder{
	color: #bfbfbf;
	}
	
#searchWrapper input:-webkite-input-placeholder{
	color: #bfbfbf;
	}
	
#searchWrapper input:-moz-placeholder{
	color: #bfbfbf;
	}
	
#searchWrapper input:-ms-input-placeholder{
	color: #bfbfbf;
	}
	
#searchWrapper button{
	overflow:visible;
	float:right;
	border:1px solid #afc6cd;
	color:#ffffff;
	padding:0;
	cursor:pointer;
	height:30px;
	width:65px;
	font: bold 12px 'lucida sans', 'trebuchet MS', 'Tahoma';
	background:url('images/search-bg.png') repeat-x top;
	}
	
#loginWrapper {
	width: 250px;
	padding:0;
	margin:0;
	}
	
#loginWrapper input{
	width:240px;
	height:18px;
	padding: 5px;
	margin-bottom:5px;
	float:left;
	font: 10px 'lucida sans', 'trebuchet MS', 'Tahoma';
	background: #fcfcfc;
	box-shadow: 0 0 3px #d8d8d8 inset;
	border: 1px solid #cbcbcb;
	}
	
#loginWrapper h1{
	font: 21px 'Helvetica Light', 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #461068;
	font-weight: normal;
	padding-top:20px;
	}
	
#loginWrapper a,{
	color: #461068;
	font-weight:normal;
	text-decoration:none;
	}
	
#loginWrapper button{
	overflow:visible;
	float:right;
	border:1px solid #afc6cd;
	color:#461068;
	padding:0;
	cursor:pointer;
	height:30px;
	width:65px;
	font: normal 12px 'lucida sans', 'trebuchet MS', 'Tahoma';
	background:url('images/login-bg.png') repeat-x top;
	}
	
#testbox{
   width:152px;
   float:left;
    }	
	
.textbox{
   width:145px;
   height:18px;
   background:url(images/textbg.gif) no-repeat top left;
   font:normal 12px Arial, Helvetica, sans-serif;
   color:#3b3b3b;
   text-decoration:none;
   border:0;
   margin:0;
   padding:2px 0px 0px 5px;
   #margin-top:-1px;
   }
.content_right_banner{
   width:340px;
   float:left;
   padding:16px 0px 0px 0px;  
   }
.content_rightashbg{
   width:330px;
   float:left;
   background-color:#e5e5e5;
   padding:13px 0px 15px 12px;

   margin:18px 0px 0px 0px;
   }
.content_rightashbg h2{
   font:bold 10px Verdana, Arial, Helvetica, sans-serif;
   color:#2f2b2b;
   text-decoration:none;
   margin:0;
   padding:0;
   }
#content_rightashbgnone{
   width:330px;
   float:left;
  padding:10px 0px 0px 12px;
   }
#content_rightashbgnone h2{
   font:bold 10px Verdana, Arial, Helvetica, sans-serif;
   color:#2f2b2b;
   text-decoration:none;
   margin:0;
   padding:0;
   }
   
/*-------footer-----------*/

#footer{
	width:848px;
	background:url('images/botbgrepeet.gif') repeat-x top;
	background-position: 0 50px;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	height:28px;
	font:bold 11px Verdana, Helvetica, sans-serif;
	color:#686363;
	padding-top:50px;
	}
	
#footer img{
	display:inline;
	}

.footerRight a{
   font:bold 11px Verdana, Helvetica, sans-serif;
   color:#686363;
   text-decoration:none;
}

#\.footerRight a:hover{
   text-decoration:underline;
}

.footerLeft{
	float:left;
	display:inline;
	padding-top:5px;
	}
	
.footerRight{
	float:right;
	background:url('images/support-portal.jpg') no-repeat;
	background-position: 0 6px;
	display:inline;
	padding-top:5px;
	padding-left:15px;
	font-size: 11px;
	}

.clear{
    clear:both;
}


#nav .page-item-16 ul{
    margin-left:-95px ! important;
}
#nav .page-item-16 ul ul{
    margin-left:-250px ! important;
}

#pm{
    width:340px;
    height:149px;
    overflow:hidden;
    background:url(http://www.tenmast.com/wp-content/uploads/2010/10/picsolution.png) no-repeat;
    margin-top:0;
    padding-top:0;
}

#pm .pmDiv a{
    font-size:14px;
}


#pm p{
    margin-top:7px;
    padding:0 10px 0 13px;
    font: normal 18px Eurostile, Arial, Helvetica, sans-serif;
    color:#fff;
    line-height:22px;
}


#pm .pmTitle{
    margin:0;
    padding:10px 0 0 11px;
    font: normal 29px Eurostile, Arial, Helvetica, sans-serif;
    color:#283700;
    text-transform:uppercase;
}




.homeRightP p{
    margin:0;
    padding:7px 0 25px 0;
}



img{
    border:none;
}


.smallTxt{
    font-size:10px;
}

.testimonials {
    float: right;
    height: 175px;
    margin-right: 50px;
    position: relative;
    top: 35px;
    width: 450px;
	color: #FFF;
	padding-top:30px;
	font-style:italic;
	font-family: Georgia;
	line-height: 28px;
	background-color: transparent !important;
	border: 0px;
}

#anything {
	background-color: none !important;	
}
.testimonials .quote {
	display:inline;
	font-size: 16px;
}

.testimonials .speaker {
	display:inline;
	color: #bfd776;
	font-size: 20px;
	float:right;
}

.columns {
	width: 945px;
	font-size: 12px;
}

#column-left h2, #column-middle h2, #column-right h2 {
	font-family: Arial;
	font-size: 13px;
	padding: 5px;
	padding-left : 10px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #3a3a3c;
	margin-bottom: 0px;
}

#column-left {
	width: 250px;
	margin-right: 40px;	
	float:left;
}

#column-middle {
	width: 250px;
	margin-right: 40px;	
	float:left;
}

#column-right {
	width: 250px;
	margin-right: 15px;	
	float:left;
}

#content_sideBar{
	 margin-top: 35px;
}

#searchsubmit {
	 background:url(images/button.jpg) no-repeat;
    cursor:pointer;
    width: 61px;
    height: 32px;
    border: none;
	text-indent: -1000em;
}

#searchsubmit:hover {
	opacity: .9;	
}

#s, #user_pass, #user_login {
	background-color: #e5e5e5;
	border: 1px solid #cbcbcb;
	color: #bfbfbf;
	font-family: Arial;
	font-size: 12px;
	height: 28px;
	line-height: 25px;
	vertical-align: middle;
	float:left;
	width: 180px;
	margin-right: 5px;
	padding-left: 5px;
}

#user_pass, #user_login {
	width: 250px;
	margin-bottom: 10px;
}

#wp_sidebarlogin-2 {
	margin-bottom: 30px;
}

#wp_sidebarlogin-2 h2 span, #wp_sidebarlogin-2 .widgettitle {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	font-size: 21px;
	color: #461068;
}

.login-username label {display:none;}
.login-password label {display:none;}
.login-remember label {display:none;}

#wp-submit {
	background:url(images/login-button.jpg) no-repeat;
    cursor:pointer;
    width: 61px;
    height: 32px;
    border: none;
	text-indent: -1000em;
	float:right;
}
#wp-submit:hover {
	opacity: .9;	
}

ul.sidebarlogin_otherlinks {
	 list-style: none outside none;	
}

ul.sidebarlogin_otherlinks li {
	float: right;
	position:relative;
	left: -45px;
	top: 5px;
}

ul.pagenav {
	list-style: none outside none;	
	margin: 0;
	padding: 0;
}

ul.sidebarlogin_otherlinks li:first-child {
  left: -30px;
}

li.page_item {
	margin-left:0px;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    /*Chrome CSS here*/

    #navigation {
		
	}
}
